// html {
//    scroll-behavior: smooth;
//    scroll-padding-top: 160px;
// }

html,
body {
  min-height: 100%;
  position: relative;
  z-index: 98;
}

body {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: $default-color;
  font-family: "Rubik";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  background: #f9faff;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration-line: underline;
  line-height: 1.5;
  color: $title-color;
  border: 0 transparent;
  outline: transparent;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(255, 122, 80, 0.7);
    border-radius: 5px;
  }

  &:hover {
    color: $accent;
    text-decoration: none;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    color: #363853;
  }
}

.button {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3;
  padding: 12px 34px;
  background-color: $accent;
  border-radius: 6px;
  outline: transparent;
  border: 0 transparent;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
    color: $accent;
  }

  &:focus {
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
    color: $accent;
  }

  &:active {
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 0 transparent;
    border-radius: 5px;
    color: $accent;
  }
}

.header--sticky .wrapper {
  background-color: #f9faff;
  padding: 20px 0;
  border-bottom: 1px solid rgba(194, 194, 194, 0.2);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
