@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
   &__inner {
      display: flex;
      align-items: center;
   }
}

.wrapper {
   display: flex;
   justify-content: space-between;
   padding: 60px 0;
   align-items: center;
}

.logo {
   outline: transparent;
   &:hover {
      opacity: 0.8;
   }

   &:focus {
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
   }

   &:active {
      opacity: 0.5;
   }

   &__img {
      padding: 0 5px;
   }
}

.menu {
   &__list {
      display: flex;
      margin-right: 60px;
   }

   &__item {
      margin-right: 45px;

      &:last-child {
         margin-right: 0;
      }
   }

   &__link {
      font-size: 18px;
      line-height: 1.16;
      outline: transparent;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
         color: $accent;
      }

      &:focus {
         box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
         border-radius: 5px;
      }

      &:active {
         text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      }
   }

   &__link--active {
      color: $accent;
   }
}

.user-nav {
   display: flex;
   justify-content: center;

   &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border: 0 transparent;
      height: 44px;
      width: 44px;
      margin-right: 36px;
      cursor: pointer;
      outline: transparent;
      background-color: transparent;
      border-radius: 5px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
         background-color: $accent;
      }

      &:focus {
         background: rgba(255, 122, 80, 0.1);
         box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      }

      &:active {
         background: #fff2ed;
      }
   }

   &__btn--search {
      &:hover .icon-search {
         background-color: #ffffff;
         mask-image: url("../images/sprite.svg#icon-search");
         mask-size: contain;
         mask-position: center;
         mask-repeat: no-repeat;
      }
   }

   &__btn--cart {
      &:hover .user-nav__num {
         background-color: #ffffff;
         color: $accent;
      }

      &:hover .icon-cart {
         background-color: #ffffff;
         mask-image: url("../images/sprite.svg#icon-cart");
         mask-size: contain;
         mask-position: center;
         mask-repeat: no-repeat;
      }
   }

   &__num {
      height: 14px;
      width: 14px;
      padding-top: 1px;
      font-size: 10px;
      line-height: 1.2;
      text-align: center;
      background-color: $accent;
      color: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 8px;
      right: 5px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
   }
}

.icon-cart,
.icon-search {
   height: 19px;
   width: 19px;
}

// -------------------section hero---------------------//

// .hero {
//    display: flex;
//    justify-content: space-between;

//    &__history {
//       max-width: 450px;
//       padding-top: 156px;
//    }

//    &__title {
//       @extend %rubik-500;
//       font-weight: 500;
//       font-size: 66px;
//       line-height: 1.3;
//       text-transform: uppercase;
//       color: $title-color;
//       max-width: 430px;
//       margin-bottom: 20px;
//    }

//    &__fragment {
//       color: $accent;
//    }

//    &__text {
//       font-size: 20px;
//       line-height: 150%;
//       margin-bottom: 20px;
//    }

//    &__photo {
//       max-width: 560px;
//    }

//    &__link {
//       text-decoration-line: underline;
//    }
// }
// .batton {
//    color: #ffffff;
//    font-size: 18px;
//    line-height: 1.3;
//    padding: 12px 32px;
//    background-color: $accent;
//    border-radius: 6px;
//    border: 0 transparent;
//    margin-right: 34px;
// }

@import "media";
