@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

//------------header---------//
body {
   background: #f9faff;
}

.header {
   &__inner {
      display: flex;
      align-items: center;
   }
}

.wrapper {
   display: flex;
   justify-content: space-between;
   padding: 60px 0;
   align-items: center;
}

.logo {
   outline: transparent;

   &:focus {
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
   }

   &:hover {
      opacity: 0.8;
   }

   &:active {
      opacity: 0.5;
   }

   &__img {
      padding: 0 5px;
   }
}

.menu {
   &__list {
      display: flex;
      margin-right: 60px;
   }

   &__item {
      margin-right: 45px;

      &:last-child {
         margin-right: 0;
      }
   }

   &__link {
      font-size: 18px;
      line-height: 1.16;
      outline: transparent;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:focus {
         box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
         border-radius: 5px;
      }

      &:hover {
         color: $accent;
      }

      &:active {
         text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      }
   }

   &__link--active {
      color: $accent;
   }
}

.user-nav {
   display: flex;
   justify-content: center;

   &__btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      width: 44px;
      margin-right: 36px;
      border: 0 transparent;
      outline: transparent;
      background-color: transparent;
      border-radius: 5px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      cursor: pointer;

      &:focus {
         background-color: rgba(255, 122, 80, 0.1);
         box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      }

      &:hover {
         background-color: $accent;
      }

      &:hover .user-nav__svg {
         background-color: #ffffff;
      }

      &:hover .user-nav__num {
         color: $accent;
         background-color: #ffffff;
      }

      &:active {
         background-color: #fff2ed;
         box-shadow: 0 0 0 0 rgba(255, 104, 56, 0.7);
      }

      &:active .user-nav__svg {
         background-color: $title-color;
      }
   }
   &__svg {
      background-color: $title-color;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      width: 20px;
      height: 20px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
   }

   &__num {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 8px;
      right: 5px;
      height: 14px;
      width: 14px;
      font-size: 10px;
      line-height: 1.2;
      text-align: center;
      background-color: $accent;
      color: #ffffff;
      border-radius: 50%;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
   }
}

//-------------main--------------------//
.hero {
   display: flex;
   justify-content: space-between;
   margin-bottom: 120px;

   &__history {
      max-width: 450px;
      padding-top: 156px;
   }

   &__title {
      @extend %rubik-500;
      font-size: 66px;
      line-height: 1.3;
      text-transform: uppercase;
      color: $title-color;
      max-width: 430px;
      margin-bottom: 20px;
   }

   &__fragment {
      color: $accent;
   }

   &__text {
      line-height: 150%;
      margin-bottom: 20px;
   }

   &__photo {
      max-width: 560px;
   }

   &__button {
      margin-right: 34px;
   }
}

.link {
   text-decoration-line: underline;
   line-height: 1.5;
   color: $title-color;
   border: 0 transparent;
   outline: transparent;
   transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

   &:focus {
      box-shadow: 0px 0px 0px 2px rgba(255, 122, 80, 0.7);
      border-radius: 5px;
   }

   &:hover {
      color: $accent;
      text-decoration: none;
   }
}

.button {
   color: #ffffff;
   font-size: 18px;
   line-height: 1.3;
   padding: 12px 34px;
   background-color: $accent;
   border-radius: 6px;
   outline: transparent;
   border: 0 transparent;
   cursor: pointer;
   transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

   &:hover {
      background-color: #ffffff;
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
      color: $accent;
   }

   &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
      color: $accent;
   }

   &:active {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 0 transparent;
      border-radius: 5px;
      color: $accent;
   }
}

.category {
   &__title {
      margin-bottom: 60px;
   }

   &__nav {
      display: flex;
      margin-bottom: 45px;
   }

   &__item {
      margin-right: 20px;
      &:last-child {
         margin-right: 0;
      }
   }

   &__link {
      position: relative;
      background-color: #ffffff;
      box-shadow: 0px 0px 0px 1px #ececec;
      border-radius: 5px;
      color: $title-color;
      line-height: 1.3;
      padding: 22px 32px 22px 86px;
      outline: transparent;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:focus {
         box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      }

      &:hover {
         background: rgba(255, 122, 80, 0.1);
         box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
         color: $accent;
      }

      &:active {
         background: #ffffff;
         box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
      }
   }

   &__link:hover .category__icon {
      background-color: $accent;
   }

   &__link--active {
      background-color: $accent;
      color: #ffffff;
   }

   &__link--active .category__icon {
      background-color: #ffffff;
   }

   &__icon {
      background-color: #363853;
      mask-image: url("../images/sprite.svg#icon-category-pizza");
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      width: 44px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 32px;
   }
}

.title {
   @extend %rubik-500;
   font-size: 36px;
   line-height: 1.3;
   text-align: center;
   color: $title-color;
}

.gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(210px, auto));
   grid-auto-rows: 1fr;
   gap: 30px;
   margin-bottom: 60px;

   &__link {
      width: fit-content;
      display: block;
      margin: 0 auto 120px;
   }
}

.card {
   max-width: 300px;
   padding: 20px 15px;
   background: #ffffff;
   box-shadow: 0px 0px 0px 1px #ececec;
   border-radius: 5px;

   &__link {
      display: grid;
      grid-auto-flow: row;
      grid-template-rows: auto 1fr auto minmax(34px, auto);
      grid-template-columns: 1fr;
      justify-items: center;
      height: 100%;
   }

   &__photo {
      max-width: 140px;
      max-height: 140px;
      margin-bottom: 10px;
   }

   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__text {
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      margin-bottom: 10px;
   }

   &__button {
      font-size: 14px;
      line-height: 1.3;
      padding: 7px 16px;
   }
}
.price {
   @extend %rubik-500;
   font-size: 15px;
   line-height: 1.4;
   color: $title-color;
   margin-bottom: 10px;
}

// ------------section about--------------//

.about {
   display: flex;
   justify-content: space-between;
   padding: 0 70px;
   margin-bottom: 120px;

   &__picture {
      max-width: 440px;
   }

   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__content {
      max-width: 470px;
      padding-top: 58px;
   }

   &__title {
      text-align: left;
      margin-bottom: 30px;
   }

   &__span {
      display: block;
   }

   &__text {
      margin-bottom: 30px;
   }

   &__list {
      margin-bottom: 30px;
   }

   &__skill--fast {
      &::before {
         background-image: url("../images/sprite.svg#icon-timer");
         filter: invert(53%) sepia(67%) saturate(2976%) hue-rotate(337deg) brightness(103%) contrast(101%);
      }
   }

   &__skill--delivery {
      &::before {
         background-image: url("../images/sprite.svg#icon-delivery");
         filter: invert(51%) sepia(100%) saturate(2757%) hue-rotate(173deg) brightness(101%) contrast(109%);
      }
   }

   &__skill--restorant {
      &::before {
         background-image: url("../images/sprite.svg#icon-restorant");
         filter: invert(29%) sepia(92%) saturate(4771%) hue-rotate(359deg) brightness(97%) contrast(115%);
      }
   }

   &__skill {
      position: relative;
      margin-bottom: 20px;
      background-repeat: no-repeat;
      background-position: 0 center;
      background-size: contain;

      &::before {
         content: "";
         position: absolute;
         height: 32px;
         width: 32px;
      }

      &:last-child {
         margin-bottom: 0;
      }
   }

   &__comment {
      font-size: 24px;
      line-height: 1.5;
      color: $title-color;
      margin-left: 64px;
   }
}
//-------------section restorants-------------//

.restorants {
   margin-bottom: 120px;

   &__title {
      margin-bottom: 45px;
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
      grid-gap: 30px;
   }

   &__restorant {
      background: #ffffff;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
   }

   &__photo {
      max-width: 100%;
      margin-bottom: 15px;
   }

   &__img {
      object-fit: cover;
      height: 100%;
      width: 100%;
   }

   &__subtitle {
      font-size: 24px;
      padding-left: 20px;
      margin-bottom: 20px;
   }

   &__footer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px;
      padding: 0 20px;
   }

   &__time {
      font-size: 18px;
      line-height: 1.6;
      opacity: 0.9;
   }

   &__button {
      width: 79px;
      height: 33px;
      border-radius: 20px;
      padding: 0;

      &:focus {
         border-radius: 20px;
      }

      &:focus .restorants__icon {
         filter: invert(55%) sepia(28%) saturate(5126%) hue-rotate(337deg) brightness(101%) contrast(101%);
         transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:hover {
         border-radius: 20px;
      }

      &:hover .restorants__icon {
         background-position: 80%;
         filter: invert(55%) sepia(28%) saturate(5126%) hue-rotate(337deg) brightness(101%) contrast(101%);
         transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:active {
         background-position: 50%;
      }
   }

   &__icon {
      position: relative;
      height: 100%;
      width: 100%;
      display: block;
      background-image: url("../images/sprite.svg#icon-arrow-right");
      background-repeat: no-repeat;
      background-position: 50%;
      height: 12px;
      filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(322deg) brightness(107%) contrast(102%);
   }
}

//-----------section comments--------------//

.comments {
   margin-bottom: 120px;

   &__title {
   }

   &__slider {
      max-width: 990px;
      margin: 0 auto;
   }

   &__inner {
      display: flex;
      align-items: center;
   }

   &__photo {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 80px;
   }

   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__text {
      @extend %rubik-italic;
      max-width: 570px;
      margin-bottom: 30px;
   }

   &__autor {
      color: $accent;
      @extend %rubik-500;
      line-height: 1.3;
   }

   &__subtitle {
      font-size: 14px;
      line-height: 1.3;
   }

   .slick-dots {
      display: flex;
      justify-content: center;
   }

   .slick-dots li {
      margin-right: 15px;
   }

   .slick-dots li:last-child {
      margin-right: 0;
   }

   .slick-dots button,
   .slick-active button {
      font-size: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #c2c2c2;
      border: 0 transparent;
   }

   .slick-arrow {
      font-size: 0;
      height: 34px;
      width: 34px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.01);
      border: 3px solid #c2c2c2;
      outline: transparent;
      position: relative;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:focus {
         border: 3px solid #c2c2c2;
         box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      }

      &:hover {
         background-color: #fff2ed;
         border: 3px solid #ffae94;
      }

      &:hover::after {
         filter: invert(93%) sepia(85%) saturate(970%) hue-rotate(296deg) brightness(100%) contrast(100%);
      }

      &:active {
         border: 3px solid transparent;
         background-color: #fff2ed;
         box-shadow: 0 0 0 0 transparent;
      }

      &:active::after {
         filter: invert(67%) sepia(57%) saturate(3257%) hue-rotate(325deg) brightness(100%) contrast(102%);
         transform: matrix(0, 1, 1, 0, 0, 0);
         transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
   }

   .slick-next::after {
      content: "";
      position: absolute;
      background-image: url("../images/sprite.svg#icon-right");
      background-repeat: no-repeat;
      background-size: 18px;
      top: 6px;
      left: 5px;
      width: 19px;
      height: 19px;
      filter: invert(100%) sepia(97%) saturate(273%) hue-rotate(292deg) brightness(86%) contrast(85%);
   }

   .slick-prev::after {
      content: "";
      position: absolute;
      background-image: url("../images/sprite.svg#icon-left");
      background-repeat: no-repeat;
      background-size: 18px;
      top: 6px;
      left: 5px;
      width: 19px;
      height: 19px;
      filter: invert(100%) sepia(97%) saturate(273%) hue-rotate(292deg) brightness(86%) contrast(85%);
   }

   .slick-active button {
      background-color: $accent;
      outline: transparent;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
   }

   .slick-dots button {

      &:focus {
         box-shadow: 0px 0px 0px 2px #ff6838;
         background-color: #c2c2c2;
      }

      &:hover {
         background: #fff2ed;
         box-shadow: 0px 0px 0px 2px rgba(255, 122, 80, 0.7);
      }

      &:active {
         border: 0px solid transparent;
         background: #FFAE94;
         box-shadow: 0 0 0 0 transparent;
      }
   }

}

//-------------footer---------------------//
.footer {
   &__logo {
      display: block;
      margin-bottom: 30px;
   }

   &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 71px;
   }

   &__nav {
      display: flex;
   }

   &__list {
      margin-right: 70px;
   }

   &__list:last-child {
      margin-right: 0;
   }

   &__item {
      margin-bottom: 20px;
      letter-spacing: 0.01em;
      font-size: 18px;
      line-height: 1.3;
   }
}

.form {
   max-width: 200px;

   &__button {
      display: block;
      position: relative;
      padding: 13px 40px 13px 72px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &::after {
         content: "";
         background: url("../images/sprite.svg#icon-telegram") center no-repeat;
         filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(339deg) brightness(104%) contrast(108%);
         position: absolute;
         left: 40px;
         height: 16px;
         width: 16px;
      }

      &:focus::after {
         filter: invert(47%) sepia(80%) saturate(1633%) hue-rotate(337deg) brightness(103%) contrast(102%);
      }

      &:hover::after {
         filter: invert(47%) sepia(80%) saturate(1633%) hue-rotate(337deg) brightness(103%) contrast(102%);
      }
   }

   &__email {
      max-width: 100%;
      height: 44px;
      padding: 13px 15px;
      margin-bottom: 12px;
      border: 1px solid #c2c2c2;
      border-radius: 5px;
      outline: transparent;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:focus {
         border: 0px solid transparent;
         box-shadow: 0px 0px 0px 2px #ff6838;
         border-radius: 5px;
      }

      &:hover::placeholder {
         color: $title-color;
      }
   }

   &__email::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.3;
      color: #c2c2c2;
      opacity: 0.9;
   }
}
.contacts {
   &__list {
      margin-bottom: 15px;
   }

   &__item {
      font-style: 16px;
      line-height: 2;
      margin-bottom: 15px;
   }

   &__item:last-child {
      margin-bottom: 0;
   }

   &__link {
      position: relative;
      padding-left: 30px;
   }

   &__link--address::before {
      @extend %content;
      background: url("../images/sprite.svg#icon-location") center no-repeat;
   }

   &__link--tell::before {
      @extend %content;
      background: url("../images/sprite.svg#icon-call") center no-repeat;
   }

   &__link--mail::before {
      @extend %content;
      background: url("../images/sprite.svg#icon-message") center no-repeat;
   }
}

.networks {
   display: flex;

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 39px;
      height: 39px;
      background-color: #ececec;
      border-radius: 50%;
      margin-right: 13px;
      border: 0 transparent;
      outline: transparent;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:focus {
         background-color: #fff2ed;
         box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      }

      &:hover {
         background-color: $accent;
      }

      &:hover .networks__svg {
         background-color: #ffffff;
      }

      &:active {
         background-color: #fff2ed;
         box-shadow: 0 0 0 0 #c2c2c2;
      }

      &:active .networks__svg {
         background-color: $accent;
      }
   }

   &__svg {
      background-color: $default-color;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      width: 20px;
      height: 20px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
   }
}

.footer__bottom {
   padding: 30px 0;
   text-align: center;
   font-size: 14px;
   line-height: 1;
   background-color: #f9faff;
}

@import "media";
