.comments {
  margin-bottom: 120px;

  &__slider {
    max-width: 990px;
    margin: 0 auto 37px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__title {
   margin-bottom: 44px;
  }

  &__photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 79px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    font-family: "Rubik";
    font-style: italic;
    max-width: 570px;
    margin-bottom: 29px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background: url("../images/sprite.svg#icon-quote-open") center/ contain
        no-repeat;
      top: 0;
      left: -41px;
      width: 22px;
      height: 22px;
      filter: invert(77%) sepia(0%) saturate(431%) hue-rotate(274deg)
        brightness(98%) contrast(103%);
    }

    &::before {
      content: "";
      position: absolute;
      background: url("../images/sprite.svg#icon-quote-close") center/ contain
        no-repeat;
      bottom: -2px;
      right: -36px;
      width: 22px;
      height: 22px;
      filter: invert(77%) sepia(0%) saturate(431%) hue-rotate(274deg)
        brightness(98%) contrast(103%);
    }
  }

  &__autor {
    color: $accent;
    font-family: "Rubik";
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 1.3;
  }

  .slick-dots {
    display: flex;
    margin: 0 20px;
    order: 2;
  }

  .slick-prev {
    order: 1;
  }

  .slick-next {
    order: 3;
  }

  .slic-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-dots li {
    margin-right: 15px;
    display: flex;
    justify-content: center;
  }

  .slick-dots li:last-child {
    margin-right: 0;
  }

  .slick-dots button,
  .slick-active button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c2c2c2;
    border: 0 transparent;
  }

  .slick-arrow {
    font-size: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.01);
    border: 3px solid #c2c2c2;
    outline: transparent;
    position: relative;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:focus {
      border: 3px solid #c2c2c2;
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: #fff2ed;
      border: 3px solid #ffae94;
    }

    &:hover::after {
      filter: invert(93%) sepia(85%) saturate(970%) hue-rotate(296deg)
        brightness(100%) contrast(100%);
    }

    &:active {
      border: 3px solid transparent;
      background-color: #fff2ed;
      box-shadow: 0 0 0 0 transparent;
    }

    &:active::after {
      filter: invert(67%) sepia(57%) saturate(3257%) hue-rotate(325deg)
        brightness(100%) contrast(102%);
      transform: matrix(0, 1, 1, 0, 0, 0);
      transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  .slick-next::after {
    content: "";
    position: absolute;
    background-image: url("../images/sprite.svg#icon-right");
    background-repeat: no-repeat;
    background-size: 18px;
    top: 8px;
    left: 10px;
    width: 19px;
    height: 19px;
    filter: invert(100%) sepia(97%) saturate(273%) hue-rotate(292deg)
      brightness(86%) contrast(85%);
  }

  .slick-prev::after {
    content: "";
    position: absolute;
    background-image: url("../images/sprite.svg#icon-left");
    background-repeat: no-repeat;
    background-size: 18px;
    top: 8px;
    left: 5px;
    width: 19px;
    height: 19px;
    filter: invert(100%) sepia(97%) saturate(273%) hue-rotate(292deg)
      brightness(86%) contrast(85%);
  }

  .slick-active button {
    background-color: $accent;
    outline: transparent;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .slick-dots button {
    &:focus {
      box-shadow: 0px 0px 0px 2px #ff6838;
      background-color: #c2c2c2;
    }

    &:hover {
      background: #fff2ed;
      box-shadow: 0px 0px 0px 2px rgba(255, 122, 80, 0.7);
    }

    &:active {
      border: 0px solid transparent;
      background: #ffae94;
      box-shadow: 0 0 0 0 transparent;
    }
  }
}